.page[b-vk7gyd07cy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vk7gyd07cy] {
    flex: 1;
}

.sidebar[b-vk7gyd07cy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vk7gyd07cy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
    .top-row-left[b-vk7gyd07cy] {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-start;
        margin-right: 1.5rem;
    }

    .top-row-right[b-vk7gyd07cy] {
        display: flex;
        align-items: center;
    }

    .bi-alert-fill-nav-menu[b-vk7gyd07cy] {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        top: -1px;
        background-image: url('/images/bell.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* Các quy tắc dành cho link nằm trong top-row */
    .top-row[b-vk7gyd07cy]  a, .top-row[b-vk7gyd07cy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-vk7gyd07cy]  a:hover, .top-row[b-vk7gyd07cy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-vk7gyd07cy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-vk7gyd07cy] {
        justify-content: space-between;
    }

    .top-row[b-vk7gyd07cy]  a, .top-row[b-vk7gyd07cy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-vk7gyd07cy] {
        flex-direction: row;
    }

    .sidebar[b-vk7gyd07cy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vk7gyd07cy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-vk7gyd07cy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-vk7gyd07cy], article[b-vk7gyd07cy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
