@page "/admin"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "admin")]

<h3>Admin Page</h3>
<p> Welcome, you have access to the Admin page! 
    This page is protected and can only be accessed by users with the "admin" role.
</p>

<AuthorizeView Roles="admin">
    <Authorized>
        <p>Chào mừng, bạn có quyền truy cập trang dành cho Admin!</p>
    </Authorized>
    <NotAuthorized>
        <p>Bạn không có quyền truy cập trang này. Vui lòng đăng nhập với tài khoản Admin.</p>
    </NotAuthorized>
</AuthorizeView>