@page "/admin"
@attribute [Authorize(Roles = "admin")]

<h3>Trang Quản trị</h3>
<p>Chào mừng, bạn có quyền truy cập trang dành cho Admin!</p>

<AuthorizeView Roles="admin">
    <Authorized>
        <p>Chào mừng, bạn có quyền truy cập trang dành cho Admin!</p>
    </Authorized>
    <NotAuthorized>
        <p>Bạn không có quyền truy cập trang này. Vui lòng đăng nhập với tài khoản Admin.</p>
    </NotAuthorized>
</AuthorizeView>