@page "/"
@using EmployeeManagement.Blazor.Layout
@inherits ComponentBase

<h1>Welcome to EMS</h1>
<p>Your employees Management System.</p>

@code {

    [CascadingParameter]
    public Action<string> SetTitle { get; set; } = default!;
    protected override void OnInitialized()
        {
            // Cập nhật tiêu đề cho trang Employees
            SetTitle?.Invoke("Dashboard");
        }
}