/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-vk7gyd07cy] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-vk7gyd07cy] {
    flex: 1;
}

.sidebar[b-vk7gyd07cy] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vk7gyd07cy] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}
    .top-row-left[b-vk7gyd07cy] {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-start;
        margin-right: 1.5rem;
    }

    .top-row-right[b-vk7gyd07cy] {
        display: flex;
        align-items: center;
    }

    .bi-alert-fill-nav-menu[b-vk7gyd07cy] {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        top: -1px;
        background-image: url('/images/bell.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    /* Các quy tắc dành cho link nằm trong top-row */
    .top-row[b-vk7gyd07cy]  a, .top-row[b-vk7gyd07cy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-vk7gyd07cy]  a:hover, .top-row[b-vk7gyd07cy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-vk7gyd07cy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-vk7gyd07cy] {
        justify-content: space-between;
    }

    .top-row[b-vk7gyd07cy]  a, .top-row[b-vk7gyd07cy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-vk7gyd07cy] {
        flex-direction: row;
    }

    .sidebar[b-vk7gyd07cy] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vk7gyd07cy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-vk7gyd07cy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-vk7gyd07cy], article[b-vk7gyd07cy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-34n126w04j] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-34n126w04j] {
    min-height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-34n126w04j] {
    font-size: 1.1rem;
}

.bi[b-34n126w04j] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-34n126w04j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-34n126w04j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-34n126w04j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-group-nav-menu[b-34n126w04j] {
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-people-fill' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a4.5 4.5 0 1 0-7.484 0A5.5 5.5 0 0 0 .5 15h15a5.5 5.5 0 0 0-3.758-4.656zM8 9a3 3 0 1 1 .001-6A3 3 0 0 1 8 9z'/%3E%3C/svg%3E"); */
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/images/group-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
}

.bi-person-fill-nav-menu[b-34n126w04j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-2 4-2 4 1 4 2-1 1-1 1H3zm8-7a4 4 0 1 0-8 0 4 4 0 0 0 8 0z'/%3E%3C/svg%3E");
}

.bi-bar-chart-nav-menu[b-34n126w04j] {
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-bar-chart-line-fill' viewBox='0 0 16 16'%3E%3Cpath d='M0 0h1v16H0V0zm2 0h1v16H2V0zm2 0h1v16H4V0zm2 0h1v16H6V0zm2 0h1v16H8V0zm2 0h1v16h-1V0zm2 0h1v16h-1V0z'/%3E%3C/svg%3E"); */
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/images/column-chart-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
}

.bi-report-nav-menu[b-34n126w04j] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-file-earmark-text' viewBox='0 0 16 16'%3E%3Cpath d='M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5.707L9.293 0zM8.5.5v4h4.5L8.5.5zM4.5 1h3v4h-3V1zm-1 .5v12h8V6H7.5a1.5 1.5 0 0 1-1.5-1.5V1.5z'/%3E%3C/svg%3E");
}

.bi-settings-nav-menu[b-34n126w04j] {
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-gear-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 4.5a3.5 3.5 0 1 0 0 7A3.5 3.5 0 0 0 8 4.5zM1.5 8a6.5 6.5 0 1 1 13 0A6.5 6.5 0 0 1 1.5 8z'/%3E%3C/svg%3E"); */
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('/images/settings-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(0) invert(1);
}

.nav-item[b-34n126w04j] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-34n126w04j] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-34n126w04j] {
        padding-bottom: 1rem;
    }

    .nav-item[b-34n126w04j]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-34n126w04j]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-34n126w04j]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-34n126w04j] {
        display: none;
    }

    .collapse[b-34n126w04j] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-34n126w04j] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
